/* Mixins */
.frank {
  font-family: 'FrancoisOneRegular', Arial, sans-serif;
  font-weight: normal;
}
.lucy {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
/* ============================== */
/* ! Styles for desktop version   */
/* ============================== */
html, body {
  height: 100%;
  min-height: 100%;
}
body {
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  background-color: #000;
  color: #ffd94c;
}
h1, h2 {
  font-family: 'FrancoisOneRegular', Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
}
h3 {
  font-family: 'FrancoisOneRegular', Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 5%;
}
p {
  font-size: 1.2em;
  line-height: 1.4em;
}
p a, p a:hover, p a:visited {
  font-weight: bold;
  color: #ffd94c;
}
p a:hover {
  color: #fff;
}
input {
  padding: 5px;
  border: 3px #ffd94c solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
}
input[type="email"] {
  width: 70%;
  float: left;
}
input[type="email"]:focus {
  border: 2px #ffc800 solid;
}
input[type="submit"] {
  width: 20%;
  font-size: 0.89em;
  font-weight: bold;
  background-color: #ffd94c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd94c), to(#fff9e5));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ffd94c, #fff9e5);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ffd94c, #fff9e5);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #ffd94c, #fff9e5);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ffd94c, #fff9e5);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #ffd94c, #fff9e5);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  float: right;
}
input[type="submit"]:hover {
  background-color: #fff9e5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9e5), to(#ffd94c));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #fff9e5, #ffd94c);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #fff9e5, #ffd94c);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #fff9e5, #ffd94c);
  /* IE10 */

  background-image: -o-linear-gradient(top, #fff9e5, #ffd94c);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #fff9e5, #ffd94c);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
input[type="submit"]:active {
  background-color: #b28c00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b28c00), to(#ffd94c));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #b28c00, #ffd94c);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #b28c00, #ffd94c);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #b28c00, #ffd94c);
  /* IE10 */

  background-image: -o-linear-gradient(top, #b28c00, #ffd94c);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #b28c00, #ffd94c);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
.skyline {
  background: #ffd94c url('../img/skyline.png') repeat-x bottom;
  height: 25%;
  padding-top: 2%;
  margin-bottom: 2%;
}
.points-container {
  height: 20%;
  background-color: #ffd94c;
}
.main {
  height: 65%;
}
.points {
  font-size: 8em;
  color: #000;
  font-family: 'KomikaTitleRegular', Arial, sans-serif;
  text-shadow: 0.2em 0.2em 0 #fff;
}
.content-about {
  margin: auto;
  padding-bottom: 5%;
}
.content {
  margin: 0 0 0 8%;
  padding-right: 1%;
  border-right: 1px  #ccc dashed;
}
.content .content-about {
  width: 70%;
}
.announcement-form {
  margin: 0 8% 0 0;
}
.announcement-form p {
  font-size: 1.2em;
}
.content-intro {
  margin-bottom: 10%;
}
.social.row {
  margin-top: 5%;
}
.twitter-follow-button {
  float: left;
  margin-bottom: 5%;
}
/* ============================= */
/* ! Styles for mobile version   */
/* ============================= */
@media all and (max-width: 767px) {
  .skyline {
    background-image: url('../img/skyline_600.png');
    height: 20%;
  }
  input {
    padding: 5px;
    width: 10em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px #ffd94c solid;
  }
  .content {
    border: none;
  }
  .content-intro {
    margin-bottom: 5%;
  }
  .twitter-follow-button {
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 480px) {
  .skyline {
    height: 34%;
  }
  .points {
    font-size: 5em;
  }
  input[type="email"] {
    width: 90%;
    margin: 0 5%;
  }
  input[type="submit"] {
    width: 50%;
    margin: 5% 25%;
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
  		background: url(logo2x.jpg) no-repeat;
  		background-size: 212px 303px;
  	}*/
}
