#ignore vSlider cache
wp-content/plugins/vslider/cache/
etc/config.ini
wp-content/uploads/
wp-content/plugins/sexybookmarks/.gitignore
wp-content/plugins/sexybookmarks/Rakefile
wp-content/plugins/sexybookmarks/css/shareaholic-promo.css
wp-content/plugins/sexybookmarks/includes/widget.php
wp-content/plugins/sexybookmarks/js/shareaholic-admin.min.js
wp-content/plugins/sexybookmarks/js/shareaholic-perf.min.js
wp-content/plugins/sexybookmarks/js/shareaholic-promo.js
wp-content/plugins/sexybookmarks/js/shareaholic-promo.min.js
wp-content/plugins/sexybookmarks/spritegen_default/index.html
wp-content/themes/pghtheme/calendar-functions.php
wp-content/themes/pghtheme/jquery-1.2.3.min.js