html,body{height:100%;}

.locationinfo {
	overflow:auto;
	width:230px;
	height:170px;
	font-weight: normal;
}

.meta {
	font-size:70%;
	font-family: Helvetica;
	position:relative;
	bottom:25px;
	border-top:1px #aaa solid;
	padding:5px 0 0 0;
	margin: 5px 10px 0 0;
}

.meta .blogdate { 
	font-style:italic;
}

.meta a {
	color:#000;
}

.meta a:hover {
	color:#999;
}

.locationinfo .storycontent {
	font-size:70%;
}

.locationinfo .attachment-post-thumbnail {
	
}

.user-location-info {
	font-size:80%;
	overflow:auto;
	width:150px;
	height:80px;
}

.comment-location-info {
	font-size:80%;
	overflow:auto;
	width:200px;
	height:140px;
}

.info-window-max {
	font-size:80%;
	overflow:auto;
}

.locationinfo h2 a,.info-window-max h2 a{
	font-family:'Francois One', Impact, serif;
	font-size:.7em;
	text-decoration:none;
	color:#0f0f0f;
	text-transform:uppercase;
	text-shadow: 0 0 0 3px #CCC;
	letter-spacing:1px;
}

.locationinfo h2 a:hover,.info-window-max h2 a:hover {
	color:#999;
}

.storycontent {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}           
