/* Mixins */
.frank {
  font-family: 'FrancoisOneRegular', Arial, sans-serif;
  font-weight: normal;
}
.lucy {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
/* ============================== */
/* ! Styles for desktop version   */
/* ============================== */
html, body {
  height: 100%;
  min-height: 100%;
}
body {
  text-align: center;
  background-color: #000;
}
h2 {
  font-size: 2em;
  color: #ffc900;
  font-family: 'FrancoisOneRegular', Arial, sans-serif;
  font-weight: normal;
}
h4 {
  color: #ffc900;
  letter-spacing: 1px;
}
p {
  color: #ffc900;
  font-size: 1.2em;
}
p a, p a:hover, p a:visited {
  font-weight: bold;
  color: #ffc900;
}
label, input, p {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
input {
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px #ffc900 solid;
}
#email-address {
  width: 70%;
}
input:focus {
  background-color: #fff;
  border: 2px #b38d00 solid;
}
.submit-email {
  padding: 1%;
  width: 25%;
  margin-left: 1%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffc900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc900), to(#ffe999));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ffc900, #ffe999);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ffc900, #ffe999);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #ffc900, #ffe999);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ffc900, #ffe999);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #ffc900, #ffe999);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

  border: 2px #b38d00 solid;
}
.submit-email:hover {
  background-color: #ffe999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe999), to(#ffc900));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ffe999, #ffc900);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ffe999, #ffc900);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #ffe999, #ffc900);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ffe999, #ffc900);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #ffe999, #ffc900);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
.submit-email:active {
  background-color: #665000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#665000), to(#ffc900));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #665000, #ffc900);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #665000, #ffc900);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #665000, #ffc900);
  /* IE10 */

  background-image: -o-linear-gradient(top, #665000, #ffc900);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #665000, #ffc900);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=@first, EndColorStr=@second); /* IE6-IE9 */

}
.skyline {
  background: #ffc900 url('../img/skyline.png') repeat-x bottom;
  height: 40%;
  padding-top: 2%;
}
.points {
  font-size: 8em;
  text-align: left;
  color: #000;
  font-family: 'FrancoisOneRegular', Arial, sans-serif;
  font-weight: normal;
}
.content-intro {
  margin-bottom: 10%;
}
/* ============================= */
/* ! Styles for mobile version   */
/* ============================= */
@media all and (max-width: 767px) {
  .skyline {
    background-image: url('../img/skyline_600.png');
    height: 35%;
    padding-left: 4%;
  }
  header {
    padding-top: 8%;
  }
  input {
    padding: 5px;
    width: 10em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px #ffc900 solid;
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
  		background: url(logo2x.jpg) no-repeat;
  		background-size: 212px 303px;
  	}*/
}
