
/* All of these will be in one sheet and minified for actual site - usability purposes right now*/


@import url('pgh-unusedstyles.css');
@import url('pgh-main.css');
@import url('pgh-nonbp.css');
@import url('pgh-typography.css');
@import url('pgh-bp.css');
@import url('pgh-header.css');
@import url('pgh-footer.css');
@import url('pgh-events.css');
@import url('pgh-photos.css');
@import url('pgh-calendar.css');
@import url('pgh-map.css');
@import url('pgh-scenes.css');


/* > STYLES CUSTOMIZED FROM BUDDYPRESS
----------------------------------------------------------------------------------------------- */


/* > Item Headers (Profiles, Groups)
-------------------------------------------------------------- */

div#item-header {
	overflow: hidden;
}
	div#item-header div#item-header-content { float: right;}

	div#item-header h2 {
		font-size: 28px;
		margin: 0 0 15px 0;
		line-height: 120%;
	}
		div#item-header h2 a {
			text-decoration: none;
			color: #777;
		}

	div#item-header h2 { margin-bottom: 5px; }

	div#item-header span.activity {
		vertical-align: middle;
		font-size: 11px;
		font-weight: normal;
		line-height: 170%;
		margin-bottom: 7px;
	}

	
/* > Item Tabs
-------------------------------------------------------------- */

#item-nav ul li {
	list-style: none;
}

#subnav {
	overflow: hidden;
	margin:0 -20px 0 -20px;
	border-bottom:1px #f2f2f2 solid;
}

#subnav ul li {
	list-style-type: none;
}


/* Lara customized */

#activity-filter-select {
	display:none;
}

.bp-widget.base h4{
	display:none;
}

#object-nav {
	background-color: #FFEC4B;
	margin:0 -20px 0 -20px;
}

#item-body h3 {
	margin-top:16px;
	font-size:1.4em;
}

span.user-nicename {
	display:none;
}

.generic-button a, input#aw-whats-new-submit {
	color: #fff;
}

.generic-button a:hover, input#aw-whats-new-submit:hover {
	color: #FFEC4B;
}

.button.edit:hover {
	text-decoration:underline;
}

#profile-edit-form h4 {
	display:none;
}

div.item-list-tabs {
	clear: left;
	overflow: hidden;
	margin:0px;
	background: none;
}
	
div.item-list-tabs li {
	list-style-type: none;
}
	div.item-list-tabs ul li a {
		text-decoration: none;
		color: #0f0f0f;
		text-transform: uppercase;
	}
		
		div.item-list-tabs ul li.selected a,
		div.item-list-tabs ul li.current a {
			background-color: #0f0f0f;
			color: #FFEC4B;
			letter-spacing: .25px;
			-moz-border-radius-topleft: 3px;
			-webkit-border-top-left-radius: 3px;
			-moz-border-radius-topright: 3px;
			-webkit-border-top-right-radius: 3px;
		}
		
span.activity {
	display:none;
} 

/* > Input Forms
-------------------------------------------------------------- */

form.standard-form {

}
	form.standard-form textarea, form.standard-form input[type=text],
	form.standard-form select, form.standard-form input[type=password],
	.dir-search input[type=text] {
		border: 1px inset #ccc;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		padding: 6px;
		font: inherit;
		font-size: 14px;
		color: #888;
	}
		form.standard-form select {
			padding: 3px;
		}

		form.standard-form input[type=password] {
			margin-bottom: 5px;
		}

	form.standard-form label, form.standard-form span.label {
		display: block;
		font-weight: bold;
		margin: 15px 0 5px 0;
	}
		form.standard-form div.checkbox label,
		form.standard-form div.radio label {
			font-weight: normal;
			margin: 5px 0 0 0;
			font-size: 14px;
			color: #888;
		}

		form.standard-form#sidebar-login-form label {
			margin-top: 5px;
		}

	form.standard-form input[type=text] {
		width: 75%;
	}
		form.standard-form#sidebar-login-form input[type=text],
		form.standard-form#sidebar-login-form input[type=password] {
			padding: 4px;
			width: 95%;
		}

		form.standard-form #basic-details-section input[type=password],
		form.standard-form #blog-details-section input#signup_blog_url {
			width: 35%;
		}

		form.standard-form#signup_form input[type=text],
		form.standard-form#signup_form textarea {
			width: 90%;
		}
			form.standard-form#signup_form div.submit { float: right; }
			div#signup-avatar img { margin: 0 15px 10px 0; }

	form.standard-form textarea {
		width: 75%;
		height: 120px;
	}
		form.standard-form textarea#message_content {
			height: 200px;
		}

		form.standard-form#send-reply textarea {
			width: 97.5%;
		}

	form.standard-form p.description {
		font-size: 11px;
		color: #888;
		margin: 5px 0;
	}

	form.standard-form div.submit {
		padding: 15px 0;
		clear: both;
	}
		form.standard-form div.submit input {
			margin-right: 15px;
		}

	form.standard-form div.radio ul {
		margin: 10px 0 15px 38px;
		list-style: disc;
	}
		form.standard-form div.radio ul li {
			margin-bottom: 5px;
		}

	form.standard-form a.clear-value {
		display: block;
		margin-top: 5px;
		outline: none;
	}

form.standard-form #basic-details-section, form.standard-form #blog-details-section,
form.standard-form #profile-details-section {
	float: left;
	width: 48%;
}
	form.standard-form #profile-details-section { float: right; }
	form.standard-form #blog-details-section {
		clear: left;
	}

form.standard-form input:focus, form.standard-form textarea:focus, form.standard-form select:focus {
	background: #fafafa;
	color: #555;
}

form#send-invite-form {
	margin-top: 20px;
}
	div#invite-list {
		height: 400px;
		overflow: scroll;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		padding: 5px;`		background: #f5f5f5;
		width: 160px;
		border: 1px solid #e4e4e4;
		margin: 10px 0;
	}


