

/* main page styles */

#eventsearch_bar.page-photos {
	height: 60px;
	margin-bottom: 20px;
	width:650px;
	margin-left:0px;
}


#content.page-photos {
	width:950px;
	overflow:visible;
}

#photos_sidebar dl dt img {
	margin:3px 0 0 5px;
}

.locationinfo, .post-location-info {
}

.photos-widget:hover {
	color:yellow;
}


/* Styles for photo thumbnails */

.photo-post {	
	float: right;	
	width: 220px;
	padding: 5px;
	height: 250px;
	overflow: hidden;
}

.photo-container {
	width:200px;
	height:200px;
	overflow:hidden;
}

.thumb-list {
	margin:auto;
	float: left;
	width: 940px;
	padding-top: 30px;
}

h5.thumb-title,h5.thumb-title a,h5.thumb-title a:hover {
	margin-top:10px;
	font-size:.8em;
	line-height:1.1em;
	line-height: 100%;
	text-align:center;
	padding-top:2px;
	color: black;
}

img.attachment-post-thumbnail, img.attachment-post-thumbnail wp-post-image {
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	margin:0 10px;
	padding:3px;
	overflow:hidden;
}

img.attachment-post-thumbnail:hover,.gallery-icon:hover {
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	filter:alpha(opacity=70);
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	opacity:0.8;
}

/* End photo thumbnails */


.prev-next {
	display: block;
	width: 250px;
	float: right;
	position: relative;
	top: 10px;
}

.prev-next-bottom {
	display: block;
	margin: 0 20px 0 20px;
}

#prev {
	float:left;
}

#next {
	float: right;
}

#next a:hover, #prev a:hover {
	background-color: yellow;
	text-decoration: none;
}

#photos_sidebar dd {
	margin: 15px 0 15px 0;
}
