
#maplocationkey table p {
    color: #F0F0F0;
    display: inline;
    font-family: 'Francois One','Impact',san-serif;
font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    text-transform: uppercase;
}

#mapcontentholder {
	float: left;
	height: 550px;
	width: 600px;
}

#maplocationkey table {
    display: inline;
    margin: 0;
    padding: 0;
    width: 593px;
}

#maplocationkey table tbody {
    display: inline;
    margin: 0;
    padding: 0;
    width: 593px;
}

#maplocationkey table tr td {
	margin: 0px;
	padding: 0px 2px 0px 0px;
}

#maplocationkey {
    -moz-box-shadow: 0 0 4px 0 #CCCCCC;
	background-image: url("../images/searbarbg.jpg");
    background-color: #0F0F0F;
    border: 3px solid #FFEC4B;
    height: 60px;
    margin-top: 488px;
    width: 593px;
}

.gm-map {
float: left;
    margin: 0;
    padding: 0;
}

#gm-map-1-legend table {
	color: #0F0F0F;
    font-family: 'Francois One',Impact,san-serif;
font-weight: normal;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 3px #CCCCCC;
    text-transform: uppercase;
    width: 280px;
	padding: 0px 0px 0px 10px;
}

#gm-map-1-legend {
	margin: 0;
	padding: 0;
}

#startgeomap {
	display: block;
}


#map { 
	width: 600px; 
	height: 480px;
	float: left;
	position: relative;
}
