
#sidebar-content {
	overflow:auto;
	padding:10px;
}

#event-sidebar {
	float: right;
    height: 500px;
    overflow: auto;
    width: 345px;
}

.sidebartogglecurrent {
	color: #ffec4b;
	text-decoration: none;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    background-color: #0F0F0F;
    float: right;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 345px;
	font-family: 'Francois One', Impact, san-serif;
font-weight: normal;
}

#eventsearch_bar {
	height: 115px; 
	width: 960px;
	margin-left: 10px;
	background-color: #0f0f0f;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	background-image: url("../images/searbarbg.jpg");
	background-repeat: repeat-x;
	-moz-box-shadow: 0px 5px 5px 0px #a0a0a0;
}

#eventsearch_bar ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 10px 0;
}

#eventsearch_bar ul li {
	display: inline;
	float: left;
	padding: 3px;
	margin: 0px 3px;
}

#eventsearch_bar ul li.border {
	margin: 0px;
	padding: 0px;
}

#eventsearch_bar img {
	padding: 0 0 0 2px;
    display: inline-block;
	float: left;
}

#eventsearch_bar img {
	margin: 0px !important;
	padding: 0px !important;
}	

#eventtypes input {
	float: left;
}
