
/* > Item Headers (Profiles, Groups)
-------------------------------------------------------------- */

	div#item-header div#item-meta {
		font-size: 14px;
		color: #aaa;
		padding-bottom: 10px;
		overflow: hidden;
		margin: 15px 0 5px 0;
	}


/* > Item Tabs
-------------------------------------------------------------- */

	div.item-list-tabs ul {
		width: 100%;
	}
		div.item-list-tabs ul li {
			float: left;
			margin: 5px 0 0 5px;
		}
			div.item-list-tabs#subnav ul li {
				margin-top: 0;
			}

			div.item-list-tabs ul li:first-child {
				margin-left: 20px;
			}


		div.item-list-tabs ul li a,
		div.item-list-tabs ul li span {
			display: block;
			padding: 5px 10px;
			text-decoration: none;
		}
			div.item-list-tabs ul li span {
				color: #aaa;
			}

			div.item-list-tabs ul li a span {
				display: inline;
				padding: 0;
				color: inherit;
			} 



/* > Item Lists (Activity, Friend, Group lists)
-------------------------------------------------------------- */



span.activity {
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	background: #FFF9DB;
	border-bottom: 1px solid #FFE8C4;
	border-right: 1px solid #FFE8C4;
	color: #ffa200;
	padding: 1px 8px;
	margin-top: 6px;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

	
/* > Data Tables
-------------------------------------------------------------- */

table {
	width: 100%;
}

table.profile-fields { 
	margin-bottom: 20px; 
}

table tr td.label {
	border-right: 1px solid #eaeaea;
	font-weight: bold;
	width: 25%;
}

table tr.alt {
	background: #f4f4f4;
}
