p {
	font-family: “Trebuchet MS”,“Lucida Sans Unicode”,“Lucida Grande”,” Lucida Sans”,Arial,sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 10px;
    padding: 0;
}

a {
	text-decoration: none;
	font-family: 'Francois One', Impact, serif;
	color: #0f0f0f;
	font-weight: normal;
	border: none;
}

a:hover {
	text-decoration: underline;
	font-family: 'Francois One', Impact, serif;
	color: #0f0f0f;
}

strong {
    color: #0F0F0F;
    font-family: 'Francois One',Impact,serif;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 0 3px #CCCCCC;
    text-transform: uppercase;
}

h2 {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	border-bottom: 1px solid #0F0F0F;
    color: #0F0F0F;
    font-family: 'Francois One',Impact,serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: 0 0 1px #CCCCCC;
    text-transform: uppercase;
	font-weight: normal;
}

strong {
    color: #0F0F0F;
    font-family: 'Francois One',Impact,serif;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 0 3px #CCCCCC;
    text-transform: uppercase;
}

h3 {
    color: #0F0F0F;
    font-family: 'Francois One',Impact,serif;
    font-size: 25px;
    letter-spacing: 0;
    text-shadow: 0 0 1px #CCCCCC;
    text-transform: uppercase;
	margin: 0px;
	font-weight: normal;
}


h4 {
    border-bottom: 1px solid #CCCCCC;
    color: #0F0F0F;
    font-family: 'Francois One',Impact,serif;
    font-size: 25px;
    margin: 0 0 5px;
    text-shadow: 1px 1px 0 #CCCCCC;
    text-transform: uppercase;
    width: 200px;
	font-weight: normal;	
}

::selection {
	background:#ffec4b;
	color: #080808;
}

::-moz-selection {
	background:#ffec4b;
	color: #080808;
}

::-webkit-selection {
	background:#ffec4b;
	color: #080808;
}
