
#sidebar-content {
	overflow:auto;
}

#eventsearch_bar {
	height: 115px; 
	width: 950px;
	padding:10px 0 0 10px;
	background-color: #0f0f0f;
	margin-left:10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	background-image: url("../images/searbarbg.jpg");
	background-repeat: repeat-x;
	-webkit-box-shadow: 0px 5px 5px #a0a0a0; 
	   -moz-box-shadow: 0px 5px 5px #a0a0a0; 
	        box-shadow: 0px 5px 5px #a0a0a0; 

}

#eventsearch_bar ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 10px 0;
}

#eventsearch_bar ul li {
	display: inline;
	float: left;
	padding: 3px;
	margin: 0px 3px;
}

#eventsearch_bar ul li.border {
	margin: 0px;
	padding: 0px;
}

#eventsearch_bar img {
	padding: 0 0 0 2px;
    display: inline-block;
	float: left;
}

#eventsearch_bar img {
	margin: 0px !important;
	padding: 0px !important;
}	

#eventtypes input {
	float: left;
}

#sidebar-search-status img {
	margin: 50px 0 15px 150px;
}

#sidebar-search-status h4 {
	text-align:center;
	font-family: 'Francois One','Impact',Sans-serif;
	font-weight:normal;
	margin:0;
}