
.entry {
	margin-top: 10px;
}

.post {
	padding-bottom: 25px;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	min-height: 170px;
}

#search-bar {
	width: 200px;
	margin: 0px;
	padding: 0px;
}

#topbar .avatar {
	width: 20px;
	height: 20px;
}

ul#menu-header-menu li > a, ul#menu-header-menu li:hover > a {
    background-position: top center !important;
    background-repeat: no-repeat;
    padding: 45px 6px 0 !important;
	font-size: 16px;
}

ul#menu-header-menu li:hover > a {
	background-position: top center !important;
	background-repeat: no-repeat;
    padding: 45px 6px 0 !important;
}

#menu-header-menu {
	margin: 0px;
	padding: 0px;
}

/*.fb_button .fb_button_text, ./*fb_button_rtl .fb_button_text {
    background: url("http://static.ak.fbcdn.net/rsrc.php/v1/zL/r/FGFbc80dUKj.png") repeat scroll 0 0 #5F78AB;
    border-bottom: 1px solid #1A356E;
    border-top: 1px solid #879AC0;
    color: #FFFFFF;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 10px !important;
    font-weight: bold;
    margin: 1px 1px 0 21px;
    padding: 2px 6px 3px;
    text-shadow: none;
}*/

#photoborder {
	height: 260px;
	width: 1080px;
	background-image: url("../images/newphotocorner_border.png");
	z-index: 250;
}

#footer li.current_page_item {
	background-color: #0f0f0f !important;
}	

#main-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

.searchbar_head {
       color: #F0F0F0;
    display: inline;
    font-family: 'francois one',impact,san-serif;
    font-size: 15px;
font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin: 10px 8px 0 10px;
    padding-left: 0;
    text-align: right;
    text-shadow: 0 0 1px #000000;
    text-transform: uppercase;
}

.searchbar_header {
       color: #F0F0F0;
    display: inline;
    font-family: 'francois one',impact,san-serif;
    font-size: 15px;
font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin: 0px 8px 0 35px;
    padding-left: 0;
    text-align: right;
    text-shadow: 0 0 1px #000000;
    text-transform: uppercase;
}

ul .searchbar_header {
    display: inline;
    font-family: 'francois one',impact,san-serif;
    font-size: 15px;
font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
	margin: 0px 5px 0px 8px;
    padding-left: 0;
    text-align: right;
    text-shadow: 0 0 1px #000000;
    text-transform: uppercase;
color: #f0f0f0;
}

select {
display: inline;
margin: 0px;
padding: 0px;
}

#dropdown_search {
	float: left;
    height: 60px;
    width: 960px;
}

dl {
	cursor: pointer;
    margin: 0;
    padding: 0;
}

.logo {
height: 186px;
width: 412px;
}

.advancesearch {
    color: #CCCCCC;
    cursor: pointer;
    font-size: 11px;
    font-style: italic;
    line-height: 0;
    margin: 15px 0;
    padding: 0 10px;
    position: absolute;
}
.advancesearch:hover {
	text-decoration: underline;
}

#placesearch p {
 color: #F0F0F0;
    display: inline;
    font-family: 'francois one',impact,san-serif;
    font-size: 15px;
    font-weight: normal;
    float: left;
    letter-spacing: 0;
    line-height: 17px;
    margin: 0px 8px 0 0px;
    padding-left: 0;
    text-align: right;
    text-shadow: 0 0 1px #000000;
    text-transform: uppercase;
}

@-moz-document url-prefix() {
    #placesearch p {
		 color: #F0F0F0;
    display: inline;
    font-family: 'francois one',impact,san-serif;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin: 0px 8px 0 0px;
    padding-left: 0;
    text-align: right;
    text-shadow: 0 0 1px #000000;
    text-transform: uppercase;
    flaot: left;
	}
}

#placesearch {
	margin: 0px;
	padding: 0px;

}

#placesearch table {
    display: inline;
    margin: 0;
    padding: 0;
  width: 870px;
}

#placesearch table tr td {
	margin: 0px;
	padding: 0px 2px 0px 0px;
	vertical-align: top;
}

#placesearch tbody {
	margin-top: 0px;
}

.refinesearch {
	    color: #F0F0F0;
    line-height: 16px;
    margin: 2px 0 0 8px !important;
    padding: 0;
    text-align: right;
}

div.item-list-tabs ul {
    width: 95%;
}

.hostedby {
	text-transform: uppercase;
	margin: 2px;
}

.host {
    font-family: 'francois one','impact',san-serif;
font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.socialicons {
	float: right;
	margin-top: 40px;
}

#photos_sidebar {
	width: 280px;
	float: right;
}

@-moz-document url-prefix() {
    .multiline{
		color: #F0F0F0;
	    display: inline;
		float: right;
		margin: 0px 5px !important;
	    font-family: 'Francois One','Impact',san-serif;
		font-weight: normal;
	    font-size: 12px;
	    line-height: 14px;
	    padding: 0;
	    text-transform: uppercase;
	}
}

dt {
 	-moz-border-radius: 5px 5px 5px 5px;
	 -webkit-border-radius: 5px 5px 5px 5px;
    background-color: #0F0F0F;
    color: #F0F0F0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
	background-image: url("../images/searbarbg.jpg");
}

dt a {
color: #f0f0f0;
text-shadow: 0px 0px 3px #000;
text-decoration: none;
}

dt a:hover {
color: #f0f0f0;
text-shadow: 0px 0px 3px #000;
text-decoration: none;
}

dd {
	padding: 0px;
	margin: 0px;
}

.gform_wrapper .top_label .gfield_label {
    clear: both;
    display: inline-block;
    font-family: 'Francois One',Impact,san-serif;
font-weight: normal;
    font-weight: normal !important;
    line-height: 1.3em;
    margin: 10px 0 0;
    text-transform: uppercase;
}

#contestinfo_bar {
	-moz-border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 5px 5px 0 #A0A0A0;
    -webkit-border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 5px 5px 0 #A0A0A0;
    background-color: #FFEC4B;
    float: right;
    height: 60px;
    margin: -85px 0;
    padding: 1px 10px 0;
    text-align: center;
    width: 260px;
}

.contestinfo {
	color: #0F0F0F;
    font-family: 'Francois One',Impact,san-serif;
font-weight: normal;
    padding: 4px;
    text-shadow: 0 0 3px #CCCCCC;
    text-transform: uppercase;
font-size: 19px;
}

ul.children {
	display: none;
}

.typeholder {
float: left;
margin: 0px;
padding: 0px;
}
